.ajaxloader-small-orange{
	background-image: url('../../../../cdns.klimg.com/kapanlagi.com/v5/i/channel/entertainment/v7/ajaxloader-horizontal-small-orange.gif');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 50px;
	width: 100%;
}
