@charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : Desember 2016

=============================================================================================================== */



@media all and (max-width:767px){

    

    /* header

    ================================================================================================================= */

    /* middle homepage

    ================================================================================================================= */

	/* middle contentpage

    ================================================================================================================= */
   
    /* footer

    ================================================================================================================= */
		
}

/* Landscape */
@media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 767px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        .footer_text{
            position: relative;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
}

