 @charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : Desember 2016

=============================================================================================================== */



@media all and (max-width:1023px){

  

    

    /* header

    ================================================================================================================= */
    #desktop-menu {
    display: none;
    }
    #mobile-menu{
        display: block;
    }
    .logonya{
        max-width: 170px;
    }
    header{
        height: 45px;
    }
    /* middle homepage

    ================================================================================================================= */
    .middle-banner {
        max-width: 300px;
        left: 50%;
        margin-left: -150px;
        top: 100px;
    }
    .howto-top1,.howto-top2{
        width: 300px;
    }
    .items3{
        width: 50%;
    }
    .banner-hadiah2 img{
        width: 100%;
        max-width:100%;
    }
    #banner-home .bt-block{
        font-size: 18px;
    }
    .middle-bawah{
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        left: 0;
        bottom: 50px;
        padding: 0 80px;
    }

    /* popup

    ================================================================================================================= */

    
    /* middle contentpage

    ================================================================================================================= */

    /* footer

    ================================================================================================================= */


}

