@charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : Mei 2017

=============================================================================================================== */



@media all and (max-width:1050px){

    
	
    /* header

    ================================================================================================================= */
	
    /* middle homepage

    ================================================================================================================= */
	.wrapper,.mid-wrapper{
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }
    .middle-banner{
        max-width: 350px;
        left: 50%;
        margin-left: -175px;
        top: 100px;
    }
    .love-bt-overflow{
        top: 15%;
    }
    #banner-home .bt-block{
        margin-bottom: 10px;
    }
	
    /* middle contentpage

    ================================================================================================================= */
	
    /* footer

    ================================================================================================================= */
	
	
}

